In [1]:
#(Question.1)
import pandas as pd

In [2]:
df = pd.Series([4,8,15,16,23,42])

In [3]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#(Question.2)
v=[[1,2,3,4,5,6,7,8,9,10]]

In [5]:
pd.Series(v)

0    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dtype: object

In [6]:
#(Question.3)
df = [['Name','Age','Gender'],['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]

In [7]:
pd.DataFrame(df)

        0    1       2
0    Name  Age  Gender
1   Alice   25  Female
2     Bob   30    Male
3  Claire   27  Female

In [8]:
#(Question.4)

#DataFrame - A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
#As noted in the table, a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

In [23]:
#(Question.5)
#Data Manipulation on Dataset - There are three support functions, . shape, . info() and . corr() which output the shape of the table, information on rows and columns, and correlation between numerical columns.
#info() - The info() method prints information about the DataFrame.
#The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

In [24]:
#(Question-6)
#DataFrame is mutuable in nature series.

In [25]:
#(Question.7)
m1=['name','roll']
m2=['ashish','26']
m3=['bobby','21']
l1=pd.Series(m1)
l2=pd.Series(m2)
l3=pd.Series(m3)
pd.concat([l1,l2,l3])

0      name
1      roll
0    ashish
1        26
0     bobby
1        21
dtype: object